services:
  rabbit:
    image: rabbitmq:4-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    extends:
      file: common-config.yml
      service: network-deploy-service

  configserver:
    image: "rakeshrout/configserver:v4"
    container_name: configserver-ms
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      timeout: 10s
      interval: 10s
      retries: 10
      start_period: 10s
    extends:
      file: common-config.yml
      service: microservice-base-config

  accounts:
    image: "rakeshrout/accounts:v4"
    container_name: accounts-ms
    ports:
      - "8080:8080"
    depends_on:
      configserver:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config
#    environment:
#      SPRING_APPLICATION_NAME: "accounts"

  loans:
    image: "rakeshrout/loans:v4"
    container_name: laons-ms
    ports:
      - "8081:8081"
    depends_on:
      configserver:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config
#    environment:
      #      SPRING_APPLICATION_NAME: "accounts"

  cards:
    image: "rakeshrout/cards:v4"
    container_name: cards-ms
    ports:
      - 8082:8082
    depends_on:
      configserver:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config
#    environment:
      #      SPRING_APPLICATION_NAME: "accounts"

networks:
  gutsbank:
    driver: "bridge"